$Darkcyan : hsl(158, 36%, 37%);
$Cream: hsl(30, 38%, 92%);
$Verydark: hsl(212, 21%, 14%);
$Darkgrayish: hsl(228, 12%, 48%);
$white : hsl(0, 0%, 100%);
$Darkencyan : hsl(158, 100%, 11%);
$Blacky : hsla(0, 0%, 1%, 0.468);
$lightcyan : hsl(167, 100%, 16%);
$Greentea : hsl(158, 95%, 38%);